@charset "utf-8";

@import url("mediaqueries.css") handheld, screen; 
/*
    Name: Madilyn Larsen
    Date: 5/15/21
    Course: CIS 155
    Instructor: Linda Epps
    Assignment: Basic Site for CIS 155
    Notes:
*/

/* M5LO3 Use media queries to format a page differently for phones vs. PCs.
   Below I use media queries for phones, tablets, and PCs. */

/* M5LO5 (Optional) Demonstrate the use of flexboxes on a web page.
   Below I use flexboxes to control where the elements are placed. */


/* =====================
       Mobile Style 
   ===================== */

@media screen and (max-width: 480px) {
    body {
        display: -webkit-flex;
        display: flex;
        flex: 1 1 auto;
        flex-flow: column wrap;
    }

    .sub a {
        display: block;
        width: 100%;
        text-align: center;
        padding: 5px 0 5px 0;
        border-bottom: 1px dotted rgb(177, 177, 177);
        flex-flow: column wrap;
        text-decoration: none;
        color: black;
    }

    ul.sub > a:link, ul.sub > a:visited {
        color: black;
        text-decoration: none;
        background-color: white;
    }
    
    .sub a:hover, .sub a:active {
        color: black;
        background-color: rgb(224, 230, 228);
    }
    
    ul.sub {
    display: none;
    }
    
    a.main {
    margin: 0 400px 0 0;
    }
    
    a.main:hover + ul.sub, ul.sub:hover {
    display: block;
    }

    
    img.yin {
        background-repeat: no-repeat;
        background-size: 200px 200px;
    }
    
    img.header {
        display: -webkit-flex;
        display: flex;
        width: 100%;
        height: 100%;
    }

    img.center {
        display: -webkit-flex;
        display: flex;
        padding-top: 10px;
        width: 50%;
        height: 75%;
    }

    .figurestyle1 {
        display: -webkit-flex;
        display: flex;
        width: 20%;
        float: left;
    }

    .figurestyle2 {
        display: -webkit-flex;
        display: flex;
        width: 20%;
        float: left;
    }
    .figurestyle3 {
        display: -webkit-flex;
        display: flex;
        width: 20%;
        float: left;
    }

    .figurestyle4 {
        display: -webkit-flex;
        display: flex;
        width: 20%;
        float: left;
    }

    .figurestyle5 {
        display: -webkit-flex;
        display: flex;
        width: 20%;
        float: left;
    }

    .figurestyle6 {
        display: -webkit-flex;
        display: flex;
        width: 20%;
        height: 30%;
        float: left;
    }

    .figurestyle7 {
        display: -webkit-flex;
        display: flex;
        width: 20%;
        float: left;
    }

    .figurestyle8 {
        display: -webkit-flex;
        display: flex;
        width: 20%;
        float: left;
    }

    .figurestyle9 {
        display: -webkit-flex;
        display: flex;
        width: 20%;
        height: 30%;
        float: left;
    }

    .figurestyle10 {
        display: -webkit-flex;
        display: flex;
        width: 20%;
        float: left;
    }

    .figurestyle11 {
        display: -webkit-flex;
        display: flex;
        width: 20%;
        float: left;
    }

    .figurestyle12 {
        display: -webkit-flex;
        display: flex;
        width: 20%;
        float: left;
    }

    .figurestyle13 {
        display: -webkit-flex;
        display: flex;
        width: 20%;
        float: left;
    }

    .figurestyle14 {
        display: -webkit-flex;
        display: flex;
        width: 20%;
        float: left;
    }

    .figurestyle15 {
        display: -webkit-flex;
        display: flex;
        width: 20%;
        float: left;
    }

    .figurestyle16 {
        display: -webkit-flex;
        display: flex;
        width: 20%;
        height: 30%;
        float: left;
    }

    .figurestyle17 {
        display: -webkit-flex;
        display: flex;
        width: 20%;
        height: 30%;
        float: left;
    }

    .figurestyle18 {
        display: -webkit-flex;
        display: flex;
        width: 20%;
        float: left;
    }

    .figurestyle19 {
        display: -webkit-flex;
        display: flex;
        width: 20%;
        float: left;
    }

    .figurestyle20 {
        display: -webkit-flex;
        display: flex;
        width: 20%;
        float: left;
    }

    .figurestyle21 {
        display: -webkit-flex;
        display: flex;
        width: 20%;
        float: left;
    }

    .figurestyle22 {
        display: -webkit-flex;
        display: flex;
        width: 20%;
        float: left;
    }

    .figurestyle23 {
        display: -webkit-flex;
        display: flex;
        width: 20%;
        float: left;
    }

    .figurestyle24 {
        display: -webkit-flex;
        display: flex;
        width: 20%;
        float: left;
    }

    .figurestyle25 {
        display: -webkit-flex;
        display: flex;
        width: 20%;
        float: left;
    }

    .figurestyle26 {
        display: -webkit-flex;
        display: flex;
        width: 20%;
        float: left;
    }

    .figurestyle27 {
        display: -webkit-flex;
        display: flex;
        width: 20%;
        float: left;
    }

    .figurestyle28 {
        display: -webkit-flex;
        display: flex;
        width: 20%;
        float: left;
    }

    .figurestyle29 {
        display: -webkit-flex;
        display: flex;
        width: 20%;
        float: left;
    }

    .figurestyle30 {
        display: -webkit-flex;
        display: flex;
        width: 20%;
        float: left;
    }

    .figurestyle31 {
        display: -webkit-flex;
        display: flex;
        width: 30%;
        float: left;
    }

    .figurestyle32 {
        display: -webkit-flex;
        display: flex;
        width: 30%;
        float: left;
    }

    .figurestyle33 {
        display: -webkit-flex;
        display: flex;
        width: 30%;
        float: left;
    }

    .figurestyle34 {
        display: -webkit-flex;
        display: flex;
        width: 20%;
        float: left;
    }

    .figurestyle35 {
        display: -webkit-flex;
        display: flex;
        width: 20%;
        float: left;
    }

    .figurestyle36 {
        display: -webkit-flex;
        display: flex;
        width: 20%;
        float: left;
    }

    .figurestyle37 {
        display: -webkit-flex;
        display: flex;
        width: 20%;
        float: left;
    }

    .figurestyle38 {
        display: -webkit-flex;
        display: flex;
        width: 20%;
        float: left;
    }

    .figurestyle39 {
        display: -webkit-flex;
        display: flex;
        width: 20%;
        float: left;
    }

    figure {
        display: -webkit-flex;
        display: flex;
        width: 20%;
    }

    figure > figcaption {
        display: none;
    }

    .cchar {
        width: 50%;
    }

    .vchar {
        width: 50%;
    }

    .ab {
        width: 50%;
    }

    .easel {
        width: 50%;
    }

    .sb {
        width: 50%;
    }

    .kre {
        width: 50%;
    }

    .pe {
        width: 50%;
    }

    .ruler {
        width: 50%;
    }

    .cam {
        width: 50%;
    }

    .lenscam {
        width: 50%;
        padding-bottom: 10px;
    }

    .characters {
        width: 50%;
        height: 75%;
    }

    .characters2 {
        width: 50%;
        height: 75%;
    }

    .face {
        width: 50%;
        height: 75%;
    }

    .face2 {
        width: 50%;
        height: 75%;
    }

    .mountain {
        width: 100%;
        height: 100%;
    }

    hr {
        border-top: 1px dotted rgb(66, 63, 64);
    }

    footer {
        display: flex;
        flex: 0 1 auto;
        flex-flow: column wrap;
        width: 100%;
    }
}


/* =================
     Tablet Styles
   ================= */

@media screen and (min-width: 481px) {
    body {
        display: -webkit-flex;
        display: flex;
        flex: 1 1 auto;
        flex-flow: column wrap;
    }

    .sub a {
        display: block;
        width: 100%;
        text-align: center;
        padding: 5px 0 5px 0;
        border-bottom: 1px dotted rgb(177, 177, 177);
        flex-flow: column wrap;
        text-decoration: none;
        color: black;
    }

    ul.sub > a:link, ul.sub > a:visited {
        color: black;
        text-decoration: none;
        background-color: white;
    }
    
    .sub a:hover, .sub a:active {
        color: black;
        background-color: rgb(224, 230, 228);
    }
    
    ul.sub {
    display: none;
    }
    
    a.main {
    padding: 0 400px 0 10px ;
    }
    
    a.main:hover + ul.sub, ul.sub:hover {
    display: block;
    }

    
    img.yin {
        background-repeat: no-repeat;
        background-size: 400px 400px;
    }
    
    img.header {
        display: -webkit-flex;
        display: flex;
        width: 100%;
        height: 100%;
    }

    img.center {
        display: -webkit-flex;
        display: flex;
        padding-top: 10px;
        width: 50%;
        height: 75%;
    }

    .figurestyle1 {
        display: -webkit-flex;
        display: flex;
        width: 20%;
        float: left;
    }

    .figurestyle2 {
        display: -webkit-flex;
        display: flex;
        width: 20%;
        float: left;
    }
    .figurestyle3 {
        display: -webkit-flex;
        display: flex;
        width: 20%;
        float: left;
    }

    .figurestyle4 {
        display: -webkit-flex;
        display: flex;
        width: 20%;
        float: left;
    }

    .figurestyle5 {
        display: -webkit-flex;
        display: flex;
        width: 20%;
        float: left;
    }

    .figurestyle6 {
        display: -webkit-flex;
        display: flex;
        width: 20%;
        height: 30%;
        float: left;
    }

    .figurestyle7 {
        display: -webkit-flex;
        display: flex;
        width: 20%;
        float: left;
    }

    .figurestyle8 {
        display: -webkit-flex;
        display: flex;
        width: 20%;
        float: left;
    }

    .figurestyle9 {
        display: -webkit-flex;
        display: flex;
        width: 20%;
        height: 30%;
        float: left;
    }

    .figurestyle10 {
        display: -webkit-flex;
        display: flex;
        width: 20%;
        float: left;
    }

    .figurestyle11 {
        display: -webkit-flex;
        display: flex;
        width: 20%;
        float: left;
    }

    .figurestyle12 {
        display: -webkit-flex;
        display: flex;
        width: 20%;
        float: left;
    }

    .figurestyle13 {
        display: -webkit-flex;
        display: flex;
        width: 20%;
        float: left;
    }

    .figurestyle14 {
        display: -webkit-flex;
        display: flex;
        width: 20%;
        float: left;
    }

    .figurestyle15 {
        display: -webkit-flex;
        display: flex;
        width: 20%;
        float: left;
    }

    .figurestyle16 {
        display: -webkit-flex;
        display: flex;
        width: 20%;
        height: 30%;
        float: left;
    }

    .figurestyle17 {
        display: -webkit-flex;
        display: flex;
        width: 20%;
        height: 30%;
        float: left;
    }

    .figurestyle18 {
        display: -webkit-flex;
        display: flex;
        width: 20%;
        float: left;
    }

    .figurestyle19 {
        display: -webkit-flex;
        display: flex;
        width: 20%;
        float: left;
    }

    .figurestyle20 {
        display: -webkit-flex;
        display: flex;
        width: 20%;
        float: left;
    }

    .figurestyle21 {
        display: -webkit-flex;
        display: flex;
        width: 20%;
        float: left;
    }

    .figurestyle22 {
        display: -webkit-flex;
        display: flex;
        width: 20%;
        float: left;
    }

    .figurestyle23 {
        display: -webkit-flex;
        display: flex;
        width: 20%;
        float: left;
    }

    .figurestyle24 {
        display: -webkit-flex;
        display: flex;
        width: 20%;
        float: left;
    }

    .figurestyle25 {
        display: -webkit-flex;
        display: flex;
        width: 20%;
        float: left;
    }

    .figurestyle26 {
        display: -webkit-flex;
        display: flex;
        width: 20%;
        float: left;
    }

    .figurestyle27 {
        display: -webkit-flex;
        display: flex;
        width: 20%;
        float: left;
    }

    .figurestyle28 {
        display: -webkit-flex;
        display: flex;
        width: 20%;
        float: left;
    }

    .figurestyle29 {
        display: -webkit-flex;
        display: flex;
        width: 20%;
        float: left;
    }

    .figurestyle30 {
        display: -webkit-flex;
        display: flex;
        width: 20%;
        float: left;
    }

    .figurestyle31 {
        display: -webkit-flex;
        display: flex;
        width: 30%;
        float: left;
    }

    .figurestyle32 {
        display: -webkit-flex;
        display: flex;
        width: 30%;
        float: left;
    }

    .figurestyle33 {
        display: -webkit-flex;
        display: flex;
        width: 30%;
        float: left;
    }

    .figurestyle34 {
        display: -webkit-flex;
        display: flex;
        width: 20%;
        float: left;
    }

    .figurestyle35 {
        display: -webkit-flex;
        display: flex;
        width: 20%;
        float: left;
    }

    .figurestyle36 {
        display: -webkit-flex;
        display: flex;
        width: 20%;
        float: left;
    }

    .figurestyle37 {
        display: -webkit-flex;
        display: flex;
        width: 20%;
        float: left;
    }

    .figurestyle38 {
        display: -webkit-flex;
        display: flex;
        width: 20%;
        float: left;
    }

    .figurestyle39 {
        display: -webkit-flex;
        display: flex;
        width: 20%;
        float: left;
    }

    figure {
        display: -webkit-flex;
        display: flex;
        width: 20%;
    }

    figure > figcaption {
        display: none;
    }

    .cchar {
        width: 50%;
    }

    .vchar {
        width: 50%;
    }

    .ab {
        width: 50%;
    }

    .easel {
        width: 50%;
    }

    .sb {
        width: 50%;
    }

    .kre {
        width: 50%;
    }

    .pe {
        width: 50%;
    }

    .ruler {
        width: 50%;
    }

    .cam {
        width: 50%;
    }

    .lenscam {
        width: 50%;
        padding-bottom: 10px;
    }

    .characters {
        width: 50%;
        height: 75%;
    }

    .characters2 {
        width: 50%;
        height: 75%;
    }

    .face {
        width: 50%;
        height: 75%;
    }

    .face2 {
        width: 50%;
        height: 75%;
    }

    .mountain {
        width: 100%;
        height: 100%;
    }

    hr {
        border-top: 1px dotted rgb(66, 63, 64);
    }

    footer {
        display: flex;
        flex: 0 1 auto;
        flex-flow: column wrap;
        width: 100%;
    }
}


/* ==================
     Desktop Styles
   ================== */

@media only screen and (min-width: 768px) {
    body {
        display: -webkit-flex;
        display: flex;
        flex: 1 1 auto;
        flex-flow: column wrap;
    }

    ul.sub {
        display: block;
        width: 100%;
    }

    .sub a {
        display: block;
        width: auto;
        border: none;
        text-decoration: none;
        float: top;
        color: black;
    }

    ul.sub > li {
        float: left;
        position: relative;
        padding-left: 200px;
        width: 9%;
    }

    ul.sub > a:link, ul.sub > a:visited {
        color: black;
        text-decoration: none;
        background-color: white;
    }
    
    .sub a:hover, .sub a:active {
        color: black;
        background-color: rgb(224, 230, 228);
    }
    
    .main {
        display: block;
        position: absolute;
        top: 325px;
        left: 20px;
        width: 5%;
    }

    a.burger {
        display: none;
    }

    nav::after {
        clear: both;
        content: "";
        display: table;
    }

    
    img.yin {
        background-repeat: no-repeat;
        background-size: 600px 600px;
    }
    
    img.header {
        display: -webkit-flex;
        display: flex;
        width: 100%;
        height: 100%;
    }

    img.center {
        display: -webkit-flex;
        display: flex;
        padding-top: 20px;
        width: 30%;
        height: 50%;
    }

    .figurestyle1 {
        display: -webkit-flex;
        display: flex;
        width: 13%;
        float: left;
    }

    .figurestyle2 {
        display: -webkit-flex;
        display: flex;
        width: 13%;
        float: left;
    }
    .figurestyle3 {
        display: -webkit-flex;
        display: flex;
        width: 13%;
        float: left;
    }

    .figurestyle4 {
        display: -webkit-flex;
        display: flex;
        width: 13%;
        float: left;
    }

    .figurestyle5 {
        display: -webkit-flex;
        display: flex;
        width: 13%;
        float: left;
    }

    .figurestyle6 {
        display: -webkit-flex;
        display: flex;
        width: 13%;
        height: 290px;
        float: left;
        clear: left;
    }

    .figurestyle7 {
        display: -webkit-flex;
        display: flex;
        width: 13%;
        height: 290px;
        float: left;
    }

    .figurestyle8 {
        display: -webkit-flex;
        display: flex;
        width: 13%;
        height: 290px;
        float: left;
    }

    .figurestyle9 {
        display: -webkit-flex;
        display: flex;
        width: 13%;
        height: 290px;
        float: left;
    }

    .figurestyle10 {
        display: -webkit-flex;
        display: flex;
        width: 13%;
        height: 290px;
        float: left;
    }

    .figurestyle11 {
        display: -webkit-flex;
        display: flex;
        width: 13%;
        float: left;
        clear: left;
    }

    .figurestyle12 {
        display: -webkit-flex;
        display: flex;
        width: 13%;
        float: left;
    }

    .figurestyle13 {
        display: -webkit-flex;
        display: flex;
        width: 13%;
        float: left;
    }

    .figurestyle14 {
        display: -webkit-flex;
        display: flex;
        width: 13%;
        float: left;
    }

    .figurestyle15 {
        display: -webkit-flex;
        display: flex;
        width: 13%;
        float: left;
    }

    .figurestyle16 {
        display: -webkit-flex;
        display: flex;
        width: 13%;
        float: left;
        clear: left;
    }

    .figurestyle17 {
        display: -webkit-flex;
        display: flex;
        width: 13%;
        height: 290px;
        float: left;
    }

    .figurestyle18 {
        display: -webkit-flex;
        display: flex;
        width: 13%;
        height: 290px;
        float: left;
    }

    .figurestyle19 {
        display: -webkit-flex;
        display: flex;
        width: 13%;
        height: 290px;
        float: left;
    }

    .figurestyle20 {
        display: -webkit-flex;
        display: flex;
        width: 13%;
        height: 290px;
        float: left;
    }

    .figurestyle21 {
        display: -webkit-flex;
        display: flex;
        width: 13%;
        float: left;
        clear: left;
    }

    .figurestyle22 {
        display: -webkit-flex;
        display: flex;
        width: 13%;
        float: left;
    }

    .figurestyle23 {
        display: -webkit-flex;
        display: flex;
        width: 13%;
        float: left;
    }

    .figurestyle24 {
        display: -webkit-flex;
        display: flex;
        width: 13%;
        float: left;
    }

    .figurestyle25 {
        display: -webkit-flex;
        display: flex;
        width: 13%;
        float: left;
    }

    .figurestyle26 {
        display: -webkit-flex;
        display: flex;
        width: 13%;
        float: left;
        clear: left;
    }

    .figurestyle27 {
        display: -webkit-flex;
        display: flex;
        width: 13%;
        float: left;
    }

    .figurestyle28 {
        display: -webkit-flex;
        display: flex;
        width: 13%;
        float: left;
    }

    .figurestyle29 {
        display: -webkit-flex;
        display: flex;
        width: 13%;
        float: left;
    }

    .figurestyle30 {
        display: -webkit-flex;
        display: flex;
        width: 13%;
        float: left;
    }

    .figurestyle31 {
        display: -webkit-flex;
        display: flex;
        width: 13%;
    }

    .figurestyle32 {
        display: -webkit-flex;
        display: flex;
        width: 13%;
    }

    .figurestyle33 {
        display: -webkit-flex;
        display: flex;
        width: 13%;
    }

    .figurestyle34 {
        display: -webkit-flex;
        display: flex;
        width: 13%;
    }

    .figurestyle35 {
        display: -webkit-flex;
        display: flex;
        width: 13%;
    }

    .figurestyle36 {
        display: -webkit-flex;
        display: flex;
        width: 13%;
    }

    .figurestyle37 {
        display: -webkit-flex;
        display: flex;
        width: 13%;
    }

    .figurestyle38 {
        display: -webkit-flex;
        display: flex;
        width: 13%;
    }

    .figurestyle39 {
        display: -webkit-flex;
        display: flex;
        width: 13%;
    }

    figure {
        width: 13%;
    }

    figure > img {
        border: 2px black solid;
    }

    .dpap {
        width: 100%;
    }

    .spap {
        width: 100%;
    }

    .penkit {
        width: 100%;
    }

    .cchar {
        width: 100%;
    }

    .vchar {
        width: 100%;
    }

    .ab {
        width: 100%;
    }

    .blenstick {
        width: 100%;
    }

    .easel {
        width: 100%;
    }

    .sb {
        width: 100%;
    }

    .kre {
        width: 100%;
    }

    .pe {
        width: 100%;
    }

    .ruler {
        width: 100%;
    }

    .cam {
        width: 100%;
    }

    .lenscam {
        width: 100%;
        padding-bottom: 10px;
    }

    .characters {
        width: 30%;
        height: 60%;
    }

    .characters2 {
        width: 30%;
        height: 50%;
    }

    .face {
        width: 30%;
        height: 50%;
    }

    .face2 {
        width: 30%;
        height: 50%;
    }

    .mountain {
        width: 50%;
        height: 50%;
    }

    hr {
        border-top: 1px dotted rgb(66, 63, 64);
    }

    footer {
        display: flex;
        flex: 1 1 auto;
        flex-flow: column wrap;
        width: 100%;
    }
}
